/*whole page*/

/*body {
  color: #222;
  font-family: "PT Serif", serif;
  margin: 1em auto 1em auto;
  position: relative;
  width: 960px;
  /*width: auto;
  min-width: 640px;
  max-width: 960px;
}*/

div#readme {
  width: 95%;
}
/*
h1, h2, h3, h4, header, footer{
  color: #000;
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
}*/

h1#title {
  font-size: 42px;
}

div#readme h1 {
  display: none;
}

/*header, footer {
  font-size: small;
}*/

a {
  color: steelblue;
}

a:not(:hover) {
  text-decoration: none;
}

img {
  max-width: 960px;
}

div.legend-item {
  display: inline-block;
}


/*Diagram*/
/*text {
  font-family: "PT Sans", sans-serif;
}*/

.node rect {
  cursor: move;
  fill-opacity: .9;
  /*color: red !important;*/
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  /*border: 1px solid powderblue;*/
  /*text-shadow: 0 0 5px white;*/
  /*color: red !important;*/
  fill: #fff;
}

path.link {
    fill: none;
    stroke: #2CA28B;
    stroke-opacity: .7;
    stroke-linecap: butt;
}

path.highlight {
    stroke: #F9969F;
    stroke-opacity: 1.0;
    /*z-index: 1000;*/
}

/*Tooltips */
/*Credit: tooltip style sheets are based on c3js.org with MIT license (https://github.com/masayuki0812/c3/blob/master/LICENSE)*/
#tooltip-container {
  position: fixed;
  pointer-events: none;
  width: 300px;
}
.tooltip {
  border-collapse:collapse;
  border-spacing:0;
  background-color:#fff;
  empty-cells:show;
  -webkit-box-shadow: 7px 7px 12px -9px rgb(119,119,119);
     -moz-box-shadow: 7px 7px 12px -9px rgb(119,119,119);
          box-shadow: 7px 7px 12px -9px rgb(119,119,119);
  opacity: 0.85;
}
.tooltip tr {
  border:1px solid #CCC;
}
.tooltip td.head, .tooltip th {
  background-color: #c7e1ff;
  font-size:12px;
  padding:2px 5px;
  text-align:center;
  color:#000;
}
.tooltip td {
  font: 11px sans-serif;
  padding: 3px 6px;
  text-align:left;
  background-color:#fff;
  border-left:1px dotted #999;
}
.tooltip td.value{
  text-align: right;
}
/*little colorful squre*/
.tooltip td > span {
  display: inline-block;
  width: 2px;
  height: 11px;
  margin-right: 6px;
}
